.header-padding {
  padding-left: 4%;
}

.footer-style {
  display: flex;
  .textarea-style {
    width: 80%;
  }
  .type_msg {
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: white !important;
    height: 50px !important;
    overflow-y: auto;
    padding-top: 5px !important;
    margin-top: 0px !important;
  }
  .type_msg:focus {
    box-shadow: none !important;
    outline: 0px !important;
  }
  .send_btn {
    border-radius: 0 15px 15px 0 !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: white !important;
    cursor: pointer;
  }
}

.scroll {
  padding: 10px 0 50px !important;
}
.messages {
  display: flex !important;
  align-content: center !important;
  align-items: center !important;
  .message, .slide-right {    
    flex: 1 1 auto !important;
    padding: 4px !important;    
    transition: all 250ms ease-in-out !important;
    overflow: hidden !important;
    text-align: left !important;    
    transform: translate3d(0, 0, 0) !important;
  }
}
.time { 
  flex: 0 1 auto !important; 
  align-self: auto !important;
  width: 120px !important;
  text-align: center !important;
  padding: 0 0 0 0 !important;  
  transition: all 250ms ease-in-out !important;  
  transform: translate3d(10px, 0, 0) !important;
  &.slide-right {    
    transform: translate3d(130px, 0, 0) !important;
  }
}
//This will change
.messages.other {
  .message {    
    transform: translate3d(0, 0, 0) !important;
    text-align: right !important;
  }
  .message.slide-right {    
    transform: translate3d(120px, 0, 0) !important;
  }
  span {
    color: black !important;
    background-color: #c7c7cc !important;
  }
}
span {
  background: #007aff !important;
  display: inline-block !important;
  color: white !important;
  padding: 10px !important;
  border-radius: 10px !important;
  text-align: left !important;
  max-width: 240px !important;
}
