<ion-header [translucent]="true">
  <ion-toolbar class="header-padding" color="primary">
    <ion-title>
      {{ userDetails ? userDetails.phone : '' }}
    </ion-title>
    <ion-icon slot="start" (click)="goBack()" name="arrow-back"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content #content>
  <div *ngFor="let messages of allMessages" [ngClass]="messages.senderId == currentUserId ? 'other' : ''" class="messages">
    <div [ngClass]="(messages.senderId == currentUserId) ? 'message' : 'slide-right'" >
      <span>{{ getDecrytMessage(messages.message) }}</span>
      <!-- <div class="time">{{ '12.55'}}</div> -->
    </div>

  </div>
</ion-content>

<ion-footer class="footer-style" no-border>
  <ion-textarea color="primary" class="textarea-style" class="form-control type_msg" (keyup.enter)="sendMessage()"
    [(ngModel)]="message" placeholder="Enter your message" name="message">
  </ion-textarea>
  <div>
    <ion-button class="input-group-text send_btn" (click)="sendMessage()" ion-button icon-only>
      <ion-icon name="send" color="light"></ion-icon>
    </ion-button>
  </div>
</ion-footer>